
body {
    font-size: 12px;    
    font-size: 0.8em;
    font-family: Arial,Verdana,sans-serif !important;
}	
table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
.clear {
    clear: both;
}
li {
    list-style: none;
}
li .text {
    width: 80%;
    text-align: left;
    line-height: 30px;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
}
ul,li{
	padding:0;
	margin:0
}
body,div{
   padding:0;
   margin:0
}
