
body {
    font-size: 12px;    
    font-size: 0.8em;
    font-family: Arial,Verdana,sans-serif !important;
}	
table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
.clear {
    clear: both;
}
li {
    list-style: none;
}
li .text {
    width: 80%;
    text-align: left;
    line-height: 30px;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
}
ul,li{
	padding:0;
	margin:0
}
body,div{
   padding:0;
   margin:0
}
input[type="text"], input[type="password"], input[type="number"], select {
    height: 20px;
    padding-left: 7px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 120px;
}

    input[type="text"]:hover, input[type="text"]:focus {
        box-shadow: 0px 0px 5px #cdcdcd;
    }

input[type="button"], input[type="submit"] {
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    padding: 0px 7px;
    height: 22px;
    width:100px;
}

    input[type="button"].xbutton, input[type="submit"].xbutton {
        padding-left: 25px !important;
    }

    input[type="button"]:hover, input[type="submit"]:hover {
        background-position-y: -22px !important;
    }

    input[type="button"]:active, input[type="submit"]:active {
        background-position-y: -0px !important;
    }
    input[type="button"].xbutton, input[type="submit"].xbutton {
        border: 1px solid #cdcdcd;
    }
    
    #btnCancel.xbutton, input.btnCancel.xbutton {
        background: url("/images/btnCancel.png") no-repeat left -44px;
    }
    
    #btnDelete.xbutton, input.btnDelete.xbutton, #btnClose.xbutton, input.btnClose.xbutton {
        background: url("/images/btnDelete.png") no-repeat left -44px;
    }
    
    #btnEdit.xbutton, input.btnEdit.xbutton {
        background: url("/images/btnEdit.png") no-repeat left -44px;
    }
    
    #btnQuery.xbutton, input.btnQuery.xbutton {
        background: url("/images/btnQuery.png") no-repeat left -44px;
    }
    #btnSearch.xbutton, input.btnSearch.xbutton {
        background: url("/images/btnQuery.png") no-repeat left -44px;
    }
    
    #btnSubmit.xbutton, input.btnSubmit.xbutton, #btnSave.xbutton, input.btnSave.xbutton {
        background: url("/images/btnSubmit.png") no-repeat left -44px;
    }
    
    #btnAdd.xbutton, input.btnAdd.xbutton {
        background: url("/images/btnAdd.png") no-repeat left -44px;
    }